<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>登录</title>
		<link rel="stylesheet" href="{$smarty.const.LAYUI}css/layui.css" media="all" />
		<link rel="stylesheet" href="{$smarty.const.CSS}login.css" />
	</head>

	<body class="beg-login-bg">
		<div class="beg-login-box">
			<header>
				<h1>后台登录</h1>
			</header>
			<div class="beg-login-main">
				<div class="layui-form" >
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
						<input type="text" id="userName"  placeholder="这里输入登录名" class="layui-input">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password" id="password"   placeholder="这里输入密码" class="layui-input">
					</div>
					<div class="layui-form-item">
						<div class="beg-pull-left">
							<button class="layui-btn layui-btn-primary" onclick="login()">
                <i class="layui-icon">&#xe650;</i> 登录
              </button>
						</div>
						<div class="beg-clear"></div>
					</div>
				</div>
			</div>
			<footer>
				<p></p>
			</footer>
		</div>
		<script type="text/javascript" src="{$smarty.const.LAYUI}layui.js"></script>
		<script type="text/javascript" src="{$smarty.const.JS}jquery-1.9.1.js"></script>
		<script>
			function login(){
				layui.use(['layer'],function(){
					var layer=layui.layer;
					$.ajax({
							type:"GET",
							async:false,
							data:{
									account:$("#userName").val(),
									password:$("#password").val(),
								},
							url:"http://localhost/weblog/index.php/Home/Login/login_check",
							dataType:"jsonp",
							jsonp:"jsonpCallback",
							success:function(data){
									if(data.errorcode==0){
										layer.msg(data.message);
										setTimeout(function(){
											location.href = "http://localhost/weblog/index.php/Home/Blog/index";
										},1000);
									}else{
											layer.msg(data.message);
									}
							},
					});
				});
			}
		</script>
	</body>
</html>
