<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection"content="telephone=no, email=no" />
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="no">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
	<link href="./css/normalize.css" rel="stylesheet">
	<link href="./css/common.css" rel="stylesheet">
	<link href="./css/gallery.css" rel="stylesheet">
	<link href="./css/list.css" rel="stylesheet">
	<title>Flyme 博客</title>
</head>
<body>
<div class="header">
	<div class="wrap">
		<div class="row-fluid">
			<div class="span8">
				 <a id="logo" href="/blog/" title="Flyme 博客">&#xe6dc;</a>
			</div>
		</div>
	</div>
</div>
<div class="wrap gallery copyr213">
	<div id="gallery">
		<div id="gallery_img" class="imgAnimate">
						<a href="http://www.flyme.cn/blog/29.html"><img src="http://www.res.flyme.cn/resources/flymeos/upload/positiondata/positiondata_bigimage_40.png?version=20161130153941" alt="智能精准 会学习会进化的 Flyme 6 正式发布"></a>
						<a href="http://www.flyme.cn/blog/28.html"><img src="http://www.res.flyme.cn/resources/flymeos/upload/positiondata/positiondata_bigimage_38.png?version=20161129144116" alt="Flyme 6，这次我们要聊聊……"></a>
						<a href="http://flyme.cn/blog/25.html"><img src="http://www.res.flyme.cn/resources/flymeos/upload/positiondata/positiondata_bigimage_33.png?version=20160524144509" alt="mBack 的前世今生"></a>
					</div>
 		<div id="gallery_nav" style="">
			<div class="gallery_nav">
			</div>
		</div>
	</div>
</div>



<div class="wrap" id="articles">
		<div class="row-fluid article">
		<div class="span10">
			<a href="/blog/29.html" class="thumbnail">
				<img src="http://www.res.flyme.cn/resources/flymeos/upload/blog/blog_cover_edit_29.png?version=20161201105216">
			</a>
		</div>
		<div class="span14">
			<div class="article_desc">
				<a href="/blog/29.html"><h2>智能精准 会学习会进化的 Flyme 6 正式发布</h2></a>
				<div class="art_info">
					<span class="atr_author" href="javascript:void(0);">Flyme</span>
					<span class="space">|</span>
					<span>2016-11-30</span>
				</div>
				<p class="summary">11 月 30 日，一直备受期待的 Flyme 6 正式亮相。历经一年多的精心打磨，焕然一新的 Flyme 6 不仅在设计、安全、功能等方面实现全面升级，还迈出了探索系统智能化的坚实一步。</p>
				<div class="tags">
																		<a class="tag" href="javascript:void(0);">
								<i class="icon icon-biaoqian"></i>
								<em>Flyme</em>
							</a>
										</div>
			</div>
		</div>
	</div>
		<div class="row-fluid article">
		<div class="span10">
			<a href="/blog/28.html" class="thumbnail">
				<img src="http://www.res.flyme.cn/resources/flymeos/upload/blog/blog_cover_add_1480400616.png?version=20161129142336">
			</a>
		</div>
		<div class="span14">
			<div class="article_desc">
				<a href="/blog/28.html"><h2>Flyme 6，这次我们要聊聊……</h2></a>
				<div class="art_info">
					<span class="atr_author" href="javascript:void(0);">Flyme</span>
					<span class="space">|</span>
					<span>2016-11-29</span>
				</div>
				<p class="summary">从 2011 年开始尝试对于 Android 系统进行深度定制，到即将发布的 Flyme 6， Flyme 想做的绝不仅仅是一个让人觉得好看又好用的手机系统。从每一个功能的补完，到每一处细节的细致呈现， Flyme 一直在较真，从满足大家的需求到发现需求，我们想给予大家的是一个有温度会呼吸，懂得每一处分寸的朋友。</p>
				<div class="tags">
																		<a class="tag" href="javascript:void(0);">
								<i class="icon icon-biaoqian"></i>
								<em>Flyme</em>
							</a>
										</div>
			</div>
		</div>
	</div>

		<input type="hidden" id="loadMoreSize" value="10" />
	<div id="loadMore">加载更多</div>
	</div>
<div class="wrap footer">
	<div class="row-fluid">
		<div class="span24">Copyright &copy; 2017 李伟业 博客 </div>
	</div>
</div>
<div id="gotop" title="返回顶部"><i class="icon-gotop"></i></div>
</body>
</html>
